        <footer class="FootBar">
            <ul id="FootList">
                <li><a>© Denny's Tea Party</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </footer>
    </body>
</html>