html, head, header, body, main, footer{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
    display: inline;
    margin-right: 30px;
    padding: 0px;
}

.NavBar{
    margin-right: auto;
    width: 100%;
    background-color: gray;
    text-align: right;
    padding: 10px 20px;
    font-size: 20px;
}

html{
    background-color: lightgray;
}

.FootBar{
    margin-left: auto;
    width:100%;
    background-color: gray;
    position: absolute;
    bottom: 0;
    font-size: 20px;
}

a:link{
    text-decoration: none;
}

a{
    color: white;
}

#logo{
    float: left;
}

label{
    clear: left;
    padding-right: 20px;
    width: 70px;
    text-align: right;
    font-size: larger;
    font-family: "serif"
}

input, label{
    float:left;
}

input:not([type=button]){
    background-color: lightgray;
}

input[type=text], input[type=textarea]{
    width: 63%;
}

input{
    border-color: black;
}

input[type=button]{
    float: right;
    background-color: black;
    color: white;
}

input[type=button]:hover{
    border-color: white;
}

.connection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}