<%- include('./partials/header.ejs')%>
    <div class="websiteInfo">
        <h1>
            We are a small group with an interest in movies.
        </h1>
        <h1>
            The group holds movie nights every now and then for everyone to enjoy.
        </h1>
        <h1>
            Everyone is welcome to any of our events, we hope to see you there.
        </h1>
    </div>
<%- include('./partials/footer.ejs')%>