<%- include('./partials/header.ejs')%>
    <div class="websiteInfo">
        <h1>
            Email: dtp@email.com
        </h1>
        <h1>
            Phone Number: 
        </h1>
        <h1>
            Discord Server: 
        </h1>
    </div>
<%- include('./partials/footer.ejs')%>