<%- include('./partials/header.ejs')%>
    <div class="websiteInfo">
        <h1>
            Welcome to Denny's Movie Night lookup.
        </h1>
        <h1>
            Find and create events for movie nights. We host a variety of different movies ranging most genres. This is a place to chill out and watch movies with friends.
        </h1>
        <h1>
            Look at the connections page to find all current/planned movie nights.
        </h1>
    </div>
<%- include('./partials/footer.ejs')%>